@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*=============================================
Css Indexing
===============================================
1 Base CSS
===============================================*/


/*===========================================
Base CSS
============================================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  font-size: 14px;
  overflow: hidden;
  background: #fafafa;
}
label {
  padding: 0;
  margin: 0;
}
ul, li, ol {
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
a, img {
  border: 0;
  outline: none;
  text-decoration: none;
}
input::-moz-focus-inner {
  border: 0;
}
bo {
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
input, select, textarea, button{
  font-family: 'Muli', sans-serif;
}
input:focus, select:focus, textarea:focus, button:focus{
  outline: 0;
}

p {
  margin-bottom: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0; }

i.material-icons {
  font-size: inherit;
  line-height: inherit;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
}

/*===========================================
Display Styles
============================================*/
.d-flex{
  display: flex;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}

/*===========================================
Page Styles Start
============================================*/
.wraper {
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

/*===========================================
Left content Start
============================================*/
.left-content {
    width: 280px;
    overflow-y: auto;
    height: 100%;
    background: #87cefa;
    border-right: 1px solid rgba(221, 221, 221, 0.38);
    display: flex;
    flex-direction: column;
}

.pp{

  margin :70px 0px;
  width: 230px;
  height: 230px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.pp img{
  border: 5px solid #B6E3FD;
  border-radius: 50%;
}

.nav {
  font-size: 15px;
  justify-content: flex-end;
  margin: -20px 0px;
}

.nav ul li, .nav ul li a {
  display: flex;
  justify-content: center;
}

.nav ul li a {
  padding: 8px 0px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
  font-weight: 500;
  position: relative;
}

.nav ul li a:hover {
  color: #000;
}
.nav ul li a:after {
  content: "";
  width: 0;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
}

.nav ul li a:hover:after {
  width: 100%;
}

/*===========================================
Left content End
============================================*/

/*===========================================
Main Content Start
============================================*/
.main-content {
    flex: 1;
    overflow-y: auto;
    margin-left: 10px;
}

/*===========================================
Main Content End
============================================*/

/*===========================================
Page Styles End
============================================*/

/*===========================================
start halaman 1
============================================*/
.hal1{
    padding: 30px;
    font-size: 40px;
    background: #5FBDF4;
    height: 100vh;
}

.isi_hal1{
  margin :80px 0px;
}

.t2_h1{
  margin : -10px 0px;
}

.t3_h1{
  margin : -40px 0px;
}

.t4_h1{
  margin : 140px 0px;
}

.medsos{
  margin : -120px 0px;
  font-size: 85px;
}
/*===========================================
end halaman 1
============================================*/


/*===========================================
start halaman 2
============================================*/
.hal2{
    padding: 30px;
    font-size: 20px;
    background: #3AAAED;
    height: 100vh;
}

.isits {
  margin :30px 0px;
}

.ts1h3{
  margin :-30px 0px;
}

.ts2h3{
  margin :-110px 0px;
}

.ts2h1{
  margin :112px 0px;
}
/*===========================================
end halaman 2
============================================*/


/*===========================================
start halaman 3
============================================*/
.hal3{
    padding: 30px;
    background: #3AAAED;
    height: 100vh;
}

.isihal3{
  font-size: 18px;
}

.h1p1{
  margin :3px 0px;
}

.h1p2{
  margin :6px 0px;
}

.h1p3{
  margin :6px 0px;
}
/*===========================================
end halaman 3
============================================*/


/*===========================================
start halaman 4
============================================*/
.hal4{
    padding: 30px;
    background: #1297E6;
    height: 100vh;
}

.isikem{
  font-size: 20px;
}

.lprogram{
  font-size: 70px;
  color: #013C5F;
}

.isikem li{
  font-size: 20px;
  margin :6px 0px;
}

.kem1h1{
  margin :20px 0px;
}

.lprogram{
  margin :-18x 0px;
}

.kem2h1{
  margin :80px 0px;
}

.liskill{
  margin :-70px 0px;
}
/*===========================================
end halaman 4
============================================*/


/*===========================================
start halaman 5
============================================*/
.hal5{
    padding: 30px;
    background: #048FE1;
    height: 100vh;
}

.pengh {
  display: flex;
  justify-content: space-between;
  align-items:center
}

.isipeng{
  font-size: 20px;
}

.lipeng{
  font-size: 22px;
  margin :-20px 0px;
}
/*===========================================
end halaman 5
============================================*/


/*===========================================
start halaman 6
============================================*/
.hal6{
    padding: 30px;
    background: #03639B;
    height: 100vh;
}

.judulberita {
  width: 610px;
  margin-top: 10px;
  text-align: center;
}

.isiberita {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}

.berita1 {
  border: 1px solid rgb(0, 0, 0);
  margin: 0px 0px 0px 30px;
  border-radius: 5px 5px 5px 5px;
}

.berita2 {
  border: 1px solid rgb(0, 0, 0);
  margin: 0px 25px 0px 25px;
  border-radius: 5px 5px 5px 5px;
}

.article {
  height: 200px;
  width: 400px;
  margin-bottom: 20px;
}

.news {
  width: 350px;
  margin-left: 30px;
}

.news a{
  color: blue;
}
/*===========================================
end halaman 6
============================================*/